@media (max-width: 84em) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 75em) {
  .heading-primary {
    font-size: 7.6rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .hero-text {
    font-size: 1.8rem;
  }
  .about-us-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
  }
  .about-us-box {
    width: 75%;
    justify-self: center;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .pricing {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
  }
  .pricing-plan {
    width: 75%;
    justify-self: center;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
  .footer-heading {
    font-size: 1.6rem;
  }
  .contacts {
    font-size: 1.4rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.4rem;
  }
}

@media (max-width: 63em) {
  .hero-text {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .about-us-box {
    width: 85%;
    justify-self: center;
  }
  .about-us-title {
    font-size: 2.4rem;
  }
  .about-us-text {
    font-size: 1.4rem;
  }
  .testimonial-section {
    grid-template-columns: 1fr;
  }
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .pricing-plan {
    width: 85%;
    justify-self: center;
  }
  .plan-name {
    font-size: 2.4rem;
  }
  .plan-price {
    font-size: 1.8rem;
  }
  .plan-text {
    font-size: 1.2rem;
  }
  .pricing-plan-list {
    font-size: 1.2rem;
  }
  .cta-text {
    font-size: 1.6rem;
  }
  .testimonial-text {
    font-size: 1.4rem;
  }
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    background-color: none;
  }
  .main-nav {
    background-color: rgba(21, 21, 21, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* need to set position relative to parent element */
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    /* HIDE NAVIGATION */
    /* display: none; */
    /* 1. hide it visually */
    opacity: 0;
    /* 2. make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3. hide it from screen readers */
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-items {
    flex-direction: column;
    gap: 4.8rem;
  }
  .nav-open .nav-items {
    color: #000;
  }
  .main-nav-link:link,
  .nav-nav-link:visited {
    font-size: 3rem;
  }
}
@media (max-width: 50em) {
  .about-us-container {
    grid-template-columns: 1fr;
  }
  .about-us-box {
    width: 60%;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .testimonial-box {
    width: 75%;
    justify-self: center;
  }
  .pricing {
    grid-template-columns: 1fr;
  }
  .pricing-plan {
    width: 60%;
  }
  .plan-name {
    font-size: 2.6rem;
  }
  .plan-price {
    font-size: 2rem;
  }
  .plan-text {
    font-size: 1.4rem;
  }
  .pricing-plan-list {
    font-size: 1.4rem;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 3;
    margin-bottom: 3.2rem;
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .cta {
    grid-template-columns: 1fr;
    /* margin: 0 3.2rem; */
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
  .cta-text,
  .cta-form label {
    font-size: 1.4rem;
  }
  .cta-form input,
  .cta-form select,
  .btn--form {
    padding: 1rem;
    font-size: 1.6rem;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .hero-text {
    width: 75%;
  }
}
@media (max-width: 42em) {
  .hero-text {
    width: 80%;
  }
  .about-us-box {
    width: 60%;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .pricing-plan {
    width: 70%;
  }
  .plan-name {
    font-size: 2.6rem;
  }
  .plan-price {
    font-size: 2rem;
  }
  .plan-text {
    font-size: 1.4rem;
  }
  .pricing-plan-list {
    font-size: 1.4rem;
  }
}
@media (max-width: 34em) {
  .heading-primary {
    font-size: 6.2rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
  .btn-box {
    flex-direction: column;
  }
  .about-us-box {
    width: 75%;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-plan {
    width: 95%;
  }
  .plan-name {
    font-size: 2.6rem;
  }
  .plan-price {
    font-size: 2rem;
  }
  .plan-text {
    font-size: 1.2rem;
  }
  .pricing-plan-list {
    font-size: 1.2rem;
  }
  .cta-container {
    padding: 0;
  }
  .logo {
    width: 75%;
  }
  .btn-box .btn {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 25em) {
  .heading-primary {
    font-size: 5.6rem;
  }
  .heading-secondary {
    font-size: 2.4rem;
  }
  .cta-text-box {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .btn-box .btn {
    width: 75%;
    text-align: center;
  }
}
